*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.profile-ui{
    max-width: 700px;
    width: 50%;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;

}
.name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.profile-image{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    position: relative;
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 10px;
    flex-direction: row;

}
.skills{
    margin-top:10px;
    margin-left:-400px;
}

.contacts{
   margin-top: -80px;
   font-size: 15px;
   margin-right: -300px;
}
